services:
  scraper:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ticker-service-container
    restart: unless-stopped
    tty: true
    stdin_open: true
    volumes:
      - ~/ticker:/app/ticker